<div class="container">
  <h4>マイページ</h4>
  <div class="row">
    <h4 class="mr-3">登録情報</h4>
    <%= link_to "編集する" ,customers_my_page_edit_path, class:'btn btn-success mb-3 col-2' %>
  </div>
  <div class="row">
    <table class="table table-bordered col-8 ">
      <tr><th>氏名</th><td><%= current_customer.full_name %></td></tr>
      <tr><th>カナ</th><td><%= current_customer.full_name_kana %></td></tr>
      <tr><th>郵便番号</th><td><%= current_customer.postal_code %></td></tr>
      <tr><th>住所</th><td><%= current_customer.address %></td></tr>
      <tr><th>電話番号</th><td><%= current_customer.telephone_number %></td></tr>
      <tr><th>メールアドレス</th><td><%= current_customer.email %></td></tr>
    </table>
  </div>
  <div>
    <table class="table table-borderless col-4">
      <tr><th>配送先</th><td><%= link_to "一覧を見る", addresses_path, class:'btn btn-primary' %></td></tr>
      <tr><th>注文履歴</th><td><%= link_to "一覧を見る", orders_path, class:'btn btn-primary' %></td></tr>
    </table>
  </div>
</div>

