<div class="container">
  <h2>商品詳細</h2>
  <div class="row">
    <%= attachment_image_tag @item, :image, format: 'jpeg', size: '400x300',class:'col-sm-5' %>
    <table class="table table-borderless col-sm-7">
      <tr><th>商品名</th><td><%= @item.name %></td></tr>
      <tr><th>商品説明</th><td><%= @item.introduction %></td></tr>
      <tr><th>ジャンル</th><td><%= @item.genre.name %></td></tr>
      <tr><th>税込価格<br>(税抜価格)</th><td>
        <% tax = (@item.price * 1.1).floor.to_s(:delimited) %>
        <%= tax %>(<%= @item.price.to_s(:delimited) %>)円
      </td></tr>
      <tr><th>販売ステータス</th><td><%= @item.is_active ? '販売中' : '販売停止中' %></td></tr>
    </table>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class:'btn btn-success mx-auto mt-2' %>
  </div>
</div>
