<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
    <table class="table table-borderless">
      <tr><th>購入者</th><td><%= @order.customer.full_name %></td></tr>
      <tr><th>注文日</th><td><%= @order.created_at.to_s(:datetime_jp) %></td></tr>
      <tr><th>配送先</th><td>〒<%= @order.postal_code %><%= @order.address %> <br><%= @order.name %></td></tr>
      <tr><th>支払方法</th><td><%= @order.payment_method_i18n %></td></tr>
      <tr><th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
          <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit "更新" %>
          <% end %>
        </td></tr>
    </table>
    <table class="table table-striped col-sm-8">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
        <th></th>
      </tr>
      <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %></td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
          <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
          <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
      <% @total += (order_detail.item.with_tax_price * order_detail.amount) %>
      <% end %>
    </table>
    <table class=" col-sm-3 offset-sm-1">
      <tr><th>商品合計</th><td><%= @total.to_s(:delimited) %></td></tr>
      <tr><th>送料</th><td><%= @order.shipping_cost %></td></tr>
      <% @total_payment= @total + @order.shipping_cost %>
      <tr><th>請求金額</th><td><%= total_payment = @total_payment.to_s(:delimited) %></td></tr>
    </table>
  </div>

</div>

