<div class="container">
  <h4>ジャンル一覧・追加</h4>
  <div class="row">
    <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tr>
        <th>ジャンル名</th>
        <td>
          <%= f.text_field :name %>
          <%= f.submit '新規投稿', class:'btn btn-success' %>
        </td>
      </tr>
    </table>
  </div>
    <% end %>
    <h4>ジャンル</h4>
  <div class="row">
    <table class="table table-borderless col-sm-5">
      <% @genres.each do |genre| %>
      <tr>
        <th><%= genre.name %></th>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:'btn btn-primary' %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
