<h2>ショッピングカート</h2>
<table>
    <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
</tr>
<% @cart_items.each do |cart_item| %>
<tr>
    <td><%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size: '100x60' %><%= cart_item.item.name %></td>
    <td></td>
      <td><%= form_with model: cart_item ,url: cart_item_path(cart_item.id), method: :patch do |f| %>
        <%= f.select :amount, *[1..10], :selected => cart_item.amount%>
      <%= f.submit "変更" %>
      <% end %></td>
    <td></td>
<% end %>
</tr>
</table>