<%= attachment_image_tag @item, :image, format: 'jpeg', size: '450x300' %>
<h2><span><%= @item.name %></span></h2><br>
<p><span><%= @item.introduction %></span></p>
<% tax_with_price = (@item.price * 1.1).floor %>
<p>￥<%= tax_with_price %>（税込）</p>

<%= form_with model: @item do |f| %>
<%= f.select :amount, *[1..3] %>
<%= f.submit "カートに入れる" %>
<% end %>