<%= attachment_image_tag @item, :image, format: 'jpeg', size: '450x300' %>
<h2><span><%= @item.name %></span></h2><br>
<p><span><%= @item.introduction %></span></p>
<% tax_with_price = (@item.price * 1.1).floor %>
<p>￥<%= tax_with_price %>（税込）</p>

<%= form_with model: @cart_item ,url: cart_items_path, method: :post do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
<%= f.select :amount, *[1..10], {:prompt => "個数選択"} %>
<%= f.submit "カートに入れる" %>
<% end %>